<h2 mat-dialog-title>Neue Notiz hinzufügen</h2>
<div mat-dialog-content>
  <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button> -->
  <mat-stepper orientation="vertical" #stepper>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Mitarbeiter</ng-template>
        <input class="form__field" formControlName="secondCtrl" [(ngModel)]="employee" required placeholder="Dein Name">
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Notiz</ng-template>
        <textarea class="form__field" formControlName="secondCtrl" placeholder="Deine Notiz" [(ngModel)]="note"
          required></textarea>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Möchtest du diese Notiz anlegen?</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button [mat-dialog-close]="{employee, note}">Yes!</button>
      </div>
    </mat-step>
  </mat-stepper>

</div>