.header {
    padding-right: 128px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.routerContainer {
    display: flex;
    justify-content: center;
}

.mat-sidenav {
    height: 100vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 100%;

    img {
        height: 40px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.menu-items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    padding-top: 64px;

    div {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        height: 48px;
        padding-left: 36px;

        &:hover {
            background-color: aliceblue;
        }
    }
}

.help-button {
    margin-bottom: 32px;
}


.set-bgc {
    background-color: rgba(123, 255, 255, 0.363) !important;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

//for small devices, espacially phones
@media screen and (min-width: 300px) {

    .mat-drawer {
        width: 100vw;
    }

    .mat-drawer-content {
        width: 100%;
    }

    .routerContainer {
        display: block;
        padding: 0;
    }
}

//for medium devices, espacially tablets
@media screen and (min-width: 992px) {
    .mat-drawer {
        width: 350px;
    }
}



