<div class="help-content">
    <h1>IN-City CRM</h1>

    <p>Hey Besucher, dieses CRM-System wurde für einen kleinen Stadtmarketing Verein programmiert.</p>

    <p>Es soll dabei helfen, die Arbeitsabläufe zu verbessern sowie Daten über Kunden und Kontakte des Unternehmens
        möglichst schnell abrufen zu können</p>

    <h2>Filterleiste:</h2>

    <p>Durch die Suchleiste kann nach beliebigen Kundendaten gefiltert werden. Gibt man 2016 ein, werden alle Mitglieder
        angezeigt, welche 2016 beigetreten sind.</p>

    <div class="img-container">
        <img src="assets/img/help/header.png" alt="">
    </div>

    <ul>
        <li>Ist der Mitgliedsstatus auf "Alle" gesetzt, werden alle Mitglieder des Vereins sowie alle Kontakte
            angezeigt.</li>
        <li>Bei dem Mitgliedsstatus "aktiv" werden alle aktiven Mitglieder angezeigt.</li>
        <li>Unter "gekündigt findet man alle Unternehmen / Einzelhändler, welche die Mitgliedschft kündigten."</li>
    </ul>

    <h2>Detailansicht:</h2>

    <p>In der Detailansicht erscheinen alle gesammelten Daten über den Kunden. Des weiteren kann der Kunde hier auf
        gekündigt gesetzt oder Daten wie die E-Mail oder Telefonnummer geändert werden.</p>
    <p>Setzt man einen Kunden auf gekündigt, wird das Kündigungsdatum sowie der Kündigungsgrund in der Detailansicht
        angezeigt, und das Mitglied taucht künftig in der Tabelle unter "gekündigt auf".</p>
        
    <div class="img-container">
        <img src="assets/img/help/card.png" alt="">
    </div>



</div>