.customer-info {
    display: flex;

    h3 {
        font-size: 15px;
        width: 200px;
    }

    h2 {
        font-size: 16px;
        margin: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

.customer-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.trash-bin {
    height: 30px;

    &:hover {
        cursor: pointer;
    }
}

.date-picker {
    margin-bottom: 32px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.mat-typography {
    display: flex;
}

.otherInfos {
    margin-left: 64px;
}