<h2 mat-dialog-title>Kundeninformationen</h2>
<mat-dialog-content class="mat-typography">
  <div class="main-info">
    <div class="customer-info">
      <h3>Firmenname:</h3>
      <h2 >{{customers[i]?.company}}</h2>
    </div>

    <div class="customer-info">
      <h3>Ansprechpartner:</h3>
      <h2>{{customers[i]?.name}}</h2>
    </div>

    <div class="customer-info">
      <h3>Adresse:</h3>
      <div>
        <h2>{{customers[i]?.street}},</h2>
        <div style="display: flex; margin-bottom: 12px;">
          <h2 style="margin-right: 6px;">{{customers[i]?.postcode}}</h2>
          <h2>{{customers[i]?.town}}</h2>
        </div>
      </div>

    </div>

    <div class="customer-info">
      <h3>Telefonnummer:</h3>
      <h2>{{customers[i]?.tel}}</h2>
    </div>

    <div class="customer-info">
      <h3>Mobil:</h3>
      <h2>{{customers[i]?.mobile}}</h2>
    </div>

    <div class="customer-info">
      <h3>E-mail:</h3>
      <h2>{{customers[i]?.email}}</h2>
    </div>
  </div>
  <div class="otherInfos">
    <div class="customer-info">
      <h3>Branche:</h3>
      <h2>{{customers[i]?.selectedBranch}}</h2>
    </div>

    <div class="customer-info">
      <h3>Mitglied seit:</h3>
      <h2>{{customers[i]?.entryDate}}</h2>
    </div>

    <div class="customer-info">
      <h3>Mitgliedsbeitrag:</h3>
      <h2>{{customers[i]?.membershipFee}}</h2>
    </div>

    <div class="customer-info">
      <h3>Mitgliedschaft:</h3>
      <mat-radio-group [(ngModel)]="selected" aria-label="Select an option">
        <mat-radio-button value="firstBtn">aktiv</mat-radio-button>
        <mat-radio-button (click)="changeToTerminated(i)" value="secondBtn">gekündigt</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- <div class="customer-info">
      <h3>E-mail:</h3>
      <h2>{{customers[i].email}}</h2>
    </div> -->
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>