.board {
  color: white !important;
  background-position: center;
  background-size: cover;
  background-image: url('../../../assets/img/board6.png');
}

h3 {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Kalam', cursive;
}

p {
  font-family: 'Kalam', cursive;
  font-size: 15px;
  margin: 0;
}

.trashAndArchive {
  display: flex;
  position: absolute;
  bottom: 32px;
  right: 64px;
  gap: 24px;
}

.trashIcon {
  height: 60px;
  position: absolute;
  right: 128px;
  bottom: 64px;
}