<h2 mat-dialog-title>Kündigung</h2>

<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <div class="form__group field">
      <div style="display: flex; flex-direction: column;">
        <label class="form__label">Gekündigt am:</label>
        <input [min]="minDate" [max]="maxDate" class="form__field" required matInput
          [ngModelOptions]="{standalone: true}" [(ngModel)]="terminationDate" [matDatepicker]="picker">
        <div class="datePicker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        </div>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>

    <form class="textarea-form">
      <label>Kündigungsgrund</label>
      <textarea required [ngModelOptions]="{standalone: true}" [(ngModel)]="terminationReason" matInput
        placeholder="Umzug des Unternehmens"></textarea>
    </form>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="saveTermination()" mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>