$primary: #251199;
$secondary: #4068c0;
$fontColor: 242424c7;
$gray: #9b9b9b;

textarea {
    height: 80px;
    padding-top: 12px;
    resize: none;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    font-family: 'Roboto', sans-serif;

    background-color: transparent;
    outline: none;

}

textarea:focus {
    border-bottom: 3px solid $primary;
}

.textarea-form {
    display: flex;
    flex-direction: column;
    margin-top: 45px;

    label {
        font-size: 1rem;
        color: #9b9b9b;
    }
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}

.form__field {
    width: 180px;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    color: $fontColor;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}

/* reset input */
.form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.datePicker {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: -35px;
}