.event-section {
    padding: 64px;
}

.mat-dialog-content {
    height: 100px !important;
}

.addEventBtn {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 130px;
    top: 120px;
}

