.dialog-Content {
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.input-content {
    display: flex;
    // justify-content: center;
}

.second-container {
    margin-left: 12px;
}

.select-container {
    margin-left: 12px;
}