//for small devices, espacially phones
@media screen and (min-width: 300px) {

    // .mat-dialog-container {
    //     width: 100vw;
    // }

    .mat-select {
        width: 120px;
    }
}


//for small devices, espacially phones
@media screen and (min-width: 500px) {
    .status-section {
        flex-direction: row;
    }
}


//for medium devices, espacially tablets
// @media screen and (min-width: 600px) {
//     .mat-dialog-container {
//         width: 80vw;
//     }
// }

//tablets and medium devices
@media screen and (min-width: 768px) {
    .mat-select {
        width: 180px;
    }

    .form__field {
        width: 180px;
    }
}

//for large devices, screens, laptops etc.
@media screen and (min-width: 1200px) {
    // .mat-dialog-container {
    //     width: 950px !important;
    // }

    .field {
        margin-top: 40px;
    }
}