<div class="dialog-Content" mat-dialog-content>
  <h1 mat-dialog-title>Neuen Kunden anlegen:</h1>
  <div class="input-content">
    <div>
      <div class="form__group field">
        <input type="input" class="form__field" matInput [(ngModel)]="company" type="text" />
        <label class="form__label">Firma</label>
      </div>

      <div class="form__group field">
        <input type="input" class="form__field" matInput [(ngModel)]="name" type="text" />
        <label class="form__label">Ansprechpartner</label>
      </div>

      <div class="form__group field">
        <input type="input" class="form__field" matInput [(ngModel)]="membernumber" />
        <label class="form__label">Mitgliedsnummer</label>
      </div>
    </div>
    <div class="second-container">

      <div class="form__group field">
        <input type="input" class="form__field" matInput [(ngModel)]="tel" type="text" />
        <label class="form__label">Tel</label>
      </div>

      <div class="form__group field">
        <input type="input" class="form__field" matInput [(ngModel)]="mobile" type="text" />
        <label class="form__label">Mobil</label>
      </div>


      <form class="example-form">
        <div class="form__group field">
          <input type="input" class="form__field" [(ngModel)]="email" type="email" matInput
            [formControl]="emailFormControl" placeholder="Ex. pat@example.com" />
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Email ungültig!
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email ist <strong>benötigt</strong>
          </mat-error>
          <label class="form__label">Email</label>
        </div>
      </form>
    </div>

    <div class="second-container">

      <div class="form__group field">
        <input type="input" class="form__field" matInput [(ngModel)]="street" type="text" />
        <label class="form__label">Straße</label>
      </div>

      <div class="form__group field">
        <input type="input" class="form__field" matInput [(ngModel)]="postcode" type="text" />
        <label class="form__label">Postleitzahl</label>
      </div>

      <div class="form__group field">
        <input type="input" class="form__field" matInput [(ngModel)]="town" type="text" />
        <label class="form__label">Stadt</label>
      </div>
    </div>
    <div class="select-container">



      <div class="form__group field">
        <!-- <mat-form-field appearance="fill"> -->
        <label class="form__label">Mitgliedsbeitrag</label>
        <input class="form__field" matInput [(ngModel)]="membershipFee">
        <!-- </mat-form-field> -->
      </div>

      <div class="form__group field">
        <div style="display: flex; flex-direction: column;">
          <label class="form__label">Mitglied seit:</label>
          <input class="form__field" matInput [(ngModel)]="entryDate" [matDatepicker]="picker">
          <div class="datePicker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          </div>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>

      
      <div class="form__group field">
          <label class="form__label">Branche</label>
          <mat-select [(ngModel)]="selectedBranch">
            <mat-option *ngFor="let branch of branches" [value]="branch.value">
              {{branch.viewValue}}
            </mat-option>
            <input class="form__field" matInput>
          </mat-select>

        </div>


    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button
    [mat-dialog-close]="{name, company, membernumber, tel, mobile, email, postcode, street, town, entryDate, selectedBranch, membershipFee}"
    cdkFocusInitial>Hinzufügen</button>
</div>