h3 {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Kalam', cursive;
}

p {
  font-family: 'Kalam', cursive;
  font-size: 15px;
  margin: 0;
}


.board {
  color: white !important;
  background-position: center;
  background-size: cover;
  background-image: url('../../../assets/img/board6.png');
}