<div class="eventOverview">
  <div class="subject">
    <h1>{{ts.event?.projectName}} Archiv</h1>
  </div>
  <div class="noteContainer">
    <div *ngFor="let n of archiveNotes; let i = index">
      <mat-card [class.darkmodeContent]="shared.darkmode" *ngIf="n.archive && n.project == ts.event.projectName" class="note board">
        <!-- <img *ngIf="!shared.darkmode" src="assets/img/restore1.png" class="archiveIcon"
          (click)="restore(ts.myNotes[i].noteID)"> -->
        <img src="assets/img/restore2.png" class="archiveIcon"
          (click)="restoreNote(n.noteID)">
        <div class="noteInfos">
          <div class="creatorInfos">
            <h3>von:</h3>
            <p class="dateAndEmployee">{{n.employee}}</p>
          </div>
          <div class="creatorInfos">
            <h3>am:</h3>
            <p class="dateAndEmployee">{{n.date}}</p>
          </div>
          <div class="creatorInfos" *ngIf="n.customer">
            <h3>betrifft:</h3>
            <p class="dateAndEmployee">{{n.customer}}</p>
          </div>
        </div>

        <div class="myNote">
          <p>{{n.note}}</p>
        </div>
      </mat-card>
    </div>
  </div>