<div class="customer-details-component">
    <mat-card [class.darkmodeContent]="settings.darkmode" class="mainInfo">
        <div class="cusotmer-icons">
            <img mat-raised-button (click)="openDialog()" (mouseenter)="hovered = 2" (mouseleave)="hovered = 1"
                class="trash-bin" src="/assets/img/trash-{{hovered}}.png" alt="">
            <mat-icon (click)="editCustomer()" class="edit-icon">more_vert</mat-icon>
        </div>

        <div class="main-contact-info">
            <h2>{{company}}</h2>
            <div class="infoContainer">
                <div class="infos">
                    <p>
                        <mat-icon>person_filled</mat-icon>{{name}}
                    </p>
                    <p>
                        <mat-icon>call</mat-icon>{{tel}}
                    </p>
                    <p>
                        <mat-icon>smartphone</mat-icon>{{mobile}}
                    </p>
                    <p>
                        <mat-icon>email</mat-icon>{{email}}
                    </p>
                </div>
                <div class="infos">

                    <div class="address">
                        <mat-icon class="address-icon">home</mat-icon>
                        <div>
                            <p>{{street}}</p>
                            <div class="postcodeAndTown">
                                <p>{{postcode}}</p>
                                <p>{{town}}</p>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="member ==='member'">
                        <div class="membershipContainer">
                                <mat-icon>contact_page</mat-icon>
                                <mat-radio-group [(ngModel)]="selected"
                                    aria-label="Select an option">
                                    <mat-radio-button (click)="changeToActive()" value="aktiv">aktiv</mat-radio-button>
                                    <mat-radio-button (click)="changeToTerminated()" value="gekündigt">gekündigt
                                    </mat-radio-button>
                                </mat-radio-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>


    <mat-card [class.darkmodeContent]="settings.darkmode" class="sideInfo mg-top-32">
        <div class="side-contact-info">
            <div class="side-infos">
                <div *ngIf="member ==='member'">
                    <h3>Mitgliedsnummer:</h3>
                    <p>{{membernumber}}</p>

                </div>

                <div>
                    <h3>Branche:</h3>
                    <p>{{selectedBranch}}</p>
                </div>
            </div>

            <div class="side-infos">



                <div *ngIf="member ==='member'">
                    <h3>Beitritsdatum:</h3>
                    <p>{{entryDate}}</p>
                </div>

                <div *ngIf="member ==='member'">
                    <h3>Mitgliedsbeitrag:</h3>
                    <p>{{membershipFee}}</p>
                </div>
            </div>

            <div *ngIf="status === 'gekündigt'" class="side-infos">
                <div>
                    <h3>gekündigt am:</h3>
                    <p>{{terminationDate}}</p>

                </div>

                <div>
                    <h3>Kündigungsgrund:</h3>
                    <p>{{terminationReason}}</p>

                </div>
            </div>
        </div>
    </mat-card>
</div>