body {
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-pane {
    width: auto !important;
    max-width: auto !important;
}

.mat-form-field {
    display: inline !important;
}

.mat-dialog-actions {
justify-content: flex-end !important;
}