<div class="customer-content">
    <div class="customer-administration">
        <!-- <button (click)="openDialog()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>add</mat-icon>
          </button> -->
        <!-- <button mat-raised-button >Pick one</button> -->
    </div>

    <mat-card class="customers-field">
        <div class="customer-info">
            <div><p>Name</p></div>
            <div><p>Mitglied seit:</p></div>
            <div><p>Mitgliedsnummer:</p> </div>
        </div>
        <button class="add-customer-btn" (click)="openDialog()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>add</mat-icon>
          </button>
    </mat-card>
</div>